# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool
*.out
*.prof

# Dependency directories (remove the comment below to include it)
# vendor/
.emacs.desktop
*.code-workspace
.DS_Store
generated_*
gentype
.claude
.aider*
.grok
